* text eol=lf

*.png -text
*.jpg -text
*.ico -text
*.gif -text
*.webp -text

yarn-*.cjs linguist-vendored
.github/workflows/*.yml -diff linguist-generated=true
.github/workflows/*.yaml -diff linguist-generated=true
.github/workflows/scripts/* -diff linguist-generated=true
